h1 {
    display: block;
    text-align: center;
}
h3 {
    color: darkslategrey;
}
.profileBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.profileCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 360px;
    background-color: lightskyblue;
    opacity: 80%;
    border: 2px solid black;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

ul li {
    line-height: 25px;
    list-style: none;
    text-decoration: none;
}

.cardHeader {
    text-align: center;
}